@page "/workAround"
@using BlazorGrid.Shared
@inject HttpClient Http

<h1>Navigating away and back will make proper OData call, page and data are from the proper page</h1>



<TelerikGrid Data=@_weatherForecast
             Pageable="true"
             Sortable="true"
             PageSize="5"
             TotalCount=@_count
             OnRead=@ReadItems
             OnStateInit="@((GridStateEventArgs<BlazorGrid.Shared.WeatherForecast> args) => OnStateInitHandlerAsync(nameof(WeatherForecast), args))"
             OnStateChanged="@((GridStateEventArgs<BlazorGrid.Shared.WeatherForecast> args) => OnStateChangedHandlerAsync(nameof(WeatherForecast), args))">
    <GridColumns>
        <GridCheckboxColumn />
        <GridColumn Field="Date" Title="Date" />
        <GridColumn Field="TemperatureC" Title="TemperatureC" />
        <GridColumn Field="Summary" Title="Summary" />
    </GridColumns>
</TelerikGrid>


@code {


}
